# Node.js bağımlılıkları
node_modules

# Ortam değişkenleri (API Key, Secret vs.)
.env

# Firebase servis anahtarı
serviceAccountKey.json
firebase-service-account.json

# IDE dosyaları
.vscode
.idea

# Geçici veya log dosyaları
*.log
.DS_Store

# Build çıktıları
dist
build
